{% extends 'base_generic.html' %}
{% block content %}
<style>
    label{
        font-size: 18px !important;
    }
    input{
        font-size: 16px !important;
    }
</style>
<div class="myform">
    <div class="main">
        <legend class="form-title text-dark" align="center">
            تغير كلمة المرور
        </legend>
        <hr />
        <form dir="rtl" class="form1" method="POST" action="">
            {% csrf_token %}
            <label class="stext-102 cl3 mt-4" for="name"><i class="fa-solid fa-lock-open"></i> كلمة المرور القديمة </label>
            <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="old_password" type="password" value="" />
            <sapn class="text-danger">{{form.errors.old_password}}</sapn>

            <label class="stext-102 cl3 mt-4" for="name"><i class="fa-solid fa-lock"></i> كلمة المرور الجديدة </label>
            <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="new_password1" type="password" value="" />
            <sapn class="text-danger">{{form.errors.new_password2}}</sapn>

            <label class="stext-102 cl3 mt-4" for="name"><i class="fa-solid fa-lock"></i> تأكيد كلمة المرور الجديدة </label>
            <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="new_password2" type="password" value="" />
            <sapn class="text-danger">{{form.errors.new_password2}}</sapn>

            <div class="text-center my-5 d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    تغير كلمة المرور <i class="fa-solid fa-arrows-rotate"></i>
                </button>
                <a href="{% url 'profile' %}" class="btn btn-dark btn-block">إلغاء</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}