{% extends 'base_generic.html' %}
{% block content %}
<style>
    label{
        font-size: 18px !important;
    }
    input{
        font-size: 16px !important;
    }
</style>
<div class="myform">
    <div dir="rtl" class="main">
        <legend class="form-title text-dark text-center"> إعادة تعيين كلمة المرور </legend>
        <hr>
        <form class="form1" method="POST" action="">
            {% csrf_token %}
            <label class="stext-102 cl3 mt-4" for="name"><i class="fa-regular fa-envelope"></i> البريد الإلكتروني </label>
            <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="email" type="text">
            {% if form.errors %}
                {% for error in form.email.errors %}
                    <span class="text-danger"><strong>{{ error|escape }}</strong></span>
                {% endfor %}
            {% endif %}
            <div class="text-center my-4">
                <button type="submit" class="cl0 size-101 bg1 bor1 hov-btn1 trans-04">  أرسل <i class="fa-solid fa-paper-plane"></i> </button>
            </div>
        </form>
        <p class="forgot mb-3" align="center"><a href="{% url 'login' %}">تسجيل الدخول</a></p>
    </div>
</div>
{% endblock content %}