{% extends 'base_generic.html' %}
{% block content %}
<section dir="rtl" class="bg0 p-t-23 p-b-140">
    <div dir="rtl" class="container">
        <div class="alert alert-info">
            تم تعيين كلمة المرور الخاصة بك.
        </div>
        <div class="text-center">
            <button onclick="redirect()" class="cl0 size-101 bg1 bor1 hov-btn1 trans-04" align="center">تسجيل الدخول</button>
        </div>
    </div>
</section>
<script>
    function redirect(){
        window.location.href = "{% url 'login' %}"
    }
</script>
{% endblock content %}