{% extends 'base_generic.html' %}
{% block content %}
<style>
    label{
        font-size: 18px !important;
    }
    input{
        font-size: 16px !important;
    }
    .help-text li{
        list-style-type: circle;
    }
</style>
<div class="myform">
    <div class="main">
        <legend class="form-title text-dark" align="center">إعادة تعيين كلمة المرور</legend>
        <hr>
        {% if validlink %}
            <form dir="rtl" class="form1" method="POST" action="">
                {% csrf_token %}
                <label class="stext-102 cl3 mt-4" for="name"><i class="fa-solid fa-lock"></i> كلمة المرور الجديدة </label>
                <input class="size-111 bor8 stext-102 cl2 p-lr-20" type="password" id="new_password1" name="new_password1">
                <sapn class="text-danger">{{form.errors.new_password1}}</sapn>
                <label class="stext-102 cl3 mt-4" for="name"><i class="fa-solid fa-lock"></i> تأكيد كلمة المرور الجديدة </label>
                <input class="size-111 bor8 stext-102 cl2 p-lr-20" type="password" id="new_password2" name="new_password2">
                <sapn class="text-danger">{{form.errors.new_password2}}</sapn>
            
                <p class="text-muted mt-4">بعض الإرشادات يرجى اتباعها.</p>
                <ul class="help-text text-muted p-3">
                    <li>
                        يجب أن تحتوي كلمة المرور الخاصة بك على 8 أحرف على الأقل.
                    </li>
                    <li>
                        يجب أن تحتوي كلمة المرور على حرف صغير وحرف كبير ورقم واحد على الأقل.
                    </li>
                    <li>
                        لا يمكن أن تكون كلمة مرورك مشابهة جدًا لمعلوماتك الشخصية الأخرى.
                    </li>
                    <li>
                        لا يمكن أن تكون كلمة المرور الخاصة بك كلمة مرور شائعة الاستخدام.
                    </li>
                    <li>
                        لا يمكن أن تكون كلمة مرورك رقمية بالكامل.
                    </li>
                </ul>
                
                <div class="text-center my-5">
                    <button type="submit" class="cl0 size-101 bg1 bor1 hov-btn1 trans-04 px-5">  إعادة تعين كلمة المرور <i class="fa-solid fa-arrows-rotate"></i> </button>
                </div>
            </form>
        {% else %}
            <div class="form1">
                <div dir="rtl" class="alert alert-danger">
                    <i class="fa-solid fa-triangle-exclamation"></i> هذا رابط غير صالح يرجى المحاولة مرة آخرى.
                </div>
                <div class="text-center">
                    <button onclick="click123()" class="cl0 size-101 bg1 bor1 hov-btn1 trans-04">محاولة مرة آخرى</button>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    function click123(){
        window.location.href = "{% url 'password_reset' %}"
    }
</script>
{% endblock content %}