{% extends 'base_generic.html' %}
{% block content %}
<style>
    label{
        font-size: 18px !important;
    }
    input{
        font-size: 16px !important;
    }
</style>
<div class="myform">
    <div class="main">
        <legend class="form-title text-dark" align="center">إعادة تعيين كلمة المرور</legend>
        <hr>
        <form dir="rtl" class="form1" method="POST" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger"><strong>{{ form.errors }}</strong></div>
            {% endif %}
            <label class="stext-102 cl3 mt-4" for="name"><i class="fa-solid fa-lock"></i> كلمة المرور الجديدة </label>
            <input class="size-111 bor8 stext-102 cl2 p-lr-20" type="password" id="new_password1" name="new_password1">
            <label class="stext-102 cl3 mt-4" for="name"><i class="fa-solid fa-lock"></i> تأكيد كلمة المرور الجديدة </label>
            <input class="size-111 bor8 stext-102 cl2 p-lr-20" type="password" id="new_password2" name="new_password2">
        
            <div class="text-center my-5">
                <button type="submit" class="cl0 size-101 bg1 bor1 hov-btn1 trans-04 px-5">  إعادة تعين كلمة المرور <i class="fa-solid fa-arrows-rotate"></i> </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}