{% extends 'base_generic.html' %}
{% load webpush_notifications %}
{% block content %}
<style>
    th {
        text-align: center !important;
    }
    .hidden{
        display: none;
    }
    label{
        font-size: 18px !important;
    }
    input{
        font-size: 16px !important;
    }
</style>
<div dir="rtl" class="container">
    <div class="row py-5">
        <div class="col-md-3">
            <div class="list-group mb-5" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="fa-solid fa-address-card"></i> ملفي الشخصي </a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><i class="fa-solid fa-box-archive"></i> طلباتي </a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><i class="fa-solid fa-gears"></i> الإعدادات </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div style="border: 1px solid #ddd; border-radius: 3px;" class="py-4">
                        <legend class="form-title text-dark" align="center">
                            ملفي الشخصي
                        </legend>
                        <hr />
                        <form class="form1" method="POST" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm">
                                    <label class="stext-102 cl3 mt-3" for="name"><i class="fa-solid fa-user"></i> إسم المستخدم </label>
                                    <input class="size-111 bor8 stext-102 cl2 p-lr-20 bg-light" type="text" value="{{user.username}}" readonly/>
                                </div>
                                <div class="col-sm">
                                    <label class="stext-102 cl3 mt-3" for="name"><i class="fa-regular fa-envelope"></i> البريد الإلكتروني </label>
                                    <input class="size-111 bor8 stext-102 cl2 p-lr-20 bg-light" type="text" value="{{user.email}}" readonly/>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm">
                                    <label class="stext-102 cl3 mt-3" for="name">الإسم الأول</label>
                                    <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="first_name" type="text" value="{% if u_form.first_name.value %} {{u_form.first_name.value}} {% endif %}" />
                                    <span class="text-danger mb-3">{{u_form.errors.first_name}}</span>
                                </div>
                                <div class="col-sm">
                                    <label class="stext-102 cl3 mt-3" for="name">الإسم الأخير</label>
                                    <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="last_name" type="text" value="{% if u_form.last_name.value %} {{u_form.last_name.value}} {% endif %}" />
                                    <span class="text-danger mb-3">{{u_form.errors.last_name}}</span>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm">
                                    <label class="stext-102 cl3 mt-3" for="name"><i class="fa-solid fa-phone"></i> رقم الهاتف </label>
                                    <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="phone_number" type="text" value="{% if user.customer.phone_number %} {{user.customer.phone_number}} {% endif %}" />
                                </div>
                                <div class="col-sm">
                                    <label class="stext-102 cl3 mt-3" for="name"><i class="fa-solid fa-location-dot"></i> عنوان السكن </label>
                                    <input class="size-111 bor8 stext-102 cl2 p-lr-20" name="location" type="text" value="{% if user.customer.location %} {{user.customer.location}} {% endif %}" />
                                </div>
                            </div>
                            <div class="text-center my-5">
                                <button type="submit" class="btn btn-primary">
                                    تحديث ملفي الشخصي
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    {% if not orders %}
                    <div style="border-style: solid; border-radius: 3px;" class="text-center p-4 comment">
                        <h5 class="mb-0">لا يوجد أي طلبات تمت.</h5>
                    </div>
                    {% else %}
                        <div style="border: 1px solid #ddd; border-radius: 3px;" class="py-4">
                            <legend class="form-title text-dark" align="center">
                            طلباتي
                            </legend>
                            <hr />
                            <div class="form1 text-center">
                                {% for order in orders %}
                                <div style="border-radius: 3px;" class="row bg-light mb-3 py-2">
                                    <div class="col-sm p-1">
                                        <b style="vertical-align: -8px;">الطلب ({{forloop.counter}})</b>
                                    </div>
                                    <div class="col-sm p-1">
                                        <a class="btn btn-primary" href="{% url 'order' order.pk %}">عرض التفاصيل <i class="fa-solid fa-eye"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <div style="border: 1px solid #ddd; border-radius: 3px;" class="text-center py-4">  
                        <legend class="form-title text-dark" align="center">
                            الإعدادات
                        </legend>
                        <hr>
                        <div class="form1">
                            <p style="text-align: right;" class="alert alert-info">
                                <i class="fa-solid fa-circle-info"></i> تأكد من تفعيل الإشعارات لتصلك دائما.
                            </p>
                            <div class="row">
                                <div class="col-sm p-1">
                                    <b style="vertical-align: -9px;">إدارة الإشعارات</b>
                                </div>
                                <div class="col-sm p-1">
                                    {% webpush_button with_class="btn btn-primary" %}
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm p-1">
                                    <b style="vertical-align: -9px;">تغير كلمة مرور الحساب</b>
                                </div>
                                <div class="col-sm p-1">
                                    <a href="{% url 'change_password' %}" class="btn btn-primary">
                                        تغير كلمة المرور <i class="fa-solid fa-arrows-rotate"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}