{% load static %}
<footer class="bg3 p-t-75 p-b-32">
	<div class="container">
		<div dir="rtl" class="row">
			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 style="font-size: 26px;" class="cl0 p-b-30"><strong>SISTERS</strong> STORE</h4>
				
				<ul>
					<li class="p-b-10">
						<a href="{% url 'about' %}" class="stext-107 cl7 hov-cl1 trans-04">
							من نحن
						</a>
					</li>
					<li class="p-b-10">
						<a href="{% url 'contact' %}" class="stext-107 cl7 hov-cl1 trans-04">
							اتصل بنا
						</a>
					</li>
				</ul>
				
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">التصنيفات</h4>

				<ul>
					{% for category in my_categories %}
					<li class="p-b-10">
						<a href="{% url 'product_list' %}?category={{category.name}}" class="stext-107 cl7 hov-cl1 trans-04"> {{category}} </a>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">المساعدة</h4>

				<ul>
					<li class="p-b-10">
						<a href="{% url 'our_policy' %}" class="stext-107 cl7 hov-cl1 trans-04">
							سياستنا
						</a>
					</li>
					<li class="p-b-10">
						<a href="{% url 'payment_methods' %}" class="stext-107 cl7 hov-cl1 trans-04">
							طرق الدفع المتوفرة
						</a>
					</li>

					<li class="p-b-10">
						<a href="{% url 'faqs' %}" class="stext-107 cl7 hov-cl1 trans-04"> الأسئلة الشائعة </a>
					</li>

					<li class="p-b-10">
						<a href="{% url 'other' %}" class="stext-107 cl7 hov-cl1 trans-04">
							خدمات آخرى 
						</a>
					</li>
				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">ابقى على تواصل</h4>

				<ul style="color: #b2b2b2;">
					<li class="p-b-10">
						<i class="fa-solid fa-location-dot"></i> &nbsp; فلسطين , غزة
					</li>
					<li class="p-b-10">
						<i class="fa-solid fa-envelope"></i> &nbsp; sistersstore88@gmail.com
					</li>
				</ul>

				<div class="p-t-27">
					<a href="https://www.facebook.com/sisters.store88" target="_blank" class="fs-18 cl7 hov-cl1 trans-04">
						<i class="fa fa-facebook"></i>
					</a>

					<a href="https://www.instagram.com/sistersstore88/" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="p-t-40">
			<div class="flex-c-m flex-w p-b-18">
				<a href="#" class="m-all-1">
					<img src="{% static 'images/icons/icon-pay-01.png' %}" alt="ICON-PAY" />
				</a>

				<a href="#" class="m-all-1">
					<img src="{% static 'images/icons/icon-pay-02.png' %}" alt="ICON-PAY" />
				</a>

				<a href="#" class="m-all-1">
					<img src="{% static 'images/icons/icon-pay-03.png' %}" alt="ICON-PAY" />
				</a>

				<a href="#" class="m-all-1">
					<img src="{% static 'images/icons/icon-pay-04.png' %}" alt="ICON-PAY" />
				</a>

				<a href="#" class="m-all-1">
					<img src="{% static 'images/icons/icon-pay-05.png' %}" alt="ICON-PAY" />
				</a>
			</div>

			<p dir="rtl" class="stext-107 cl6 txt-center">
				حقوق النشر &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				جميع الحقوق محفوظة | مصنوع 
				<i class="fa fa-heart-o" aria-hidden="true"></i> بواسطة
				<a href="#">SISTERS STORE</a>
			</p>
		</div>
	</div>
</footer>