{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
    <h2 class="ltext-105 cl0 txt-center">
        من نحن
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div dir="rtl" class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        قصتنا
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        نعتقد أن جمال الموضة يجب أن يكون في متناول الجميع، وليس فقط للقلة المتميزة. عندما تأسست الشركة في سنة 2021، لاحظنا أنه يتعين على شركات الأزياء الاختيار بين عرض المنتجات أو تقليل ضغط المخزون والهدر. لذلك، شرعنا في تغيير ذلك من خلال قيادة تطوير العمليات والتقنيات البديلة لجلب الموضة إلى المستقبل.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        يشكل عملاؤنا جوهر نموذج أعمالنا، حيث يقودون نمونا إلى فريق يضم ما يقرب من 10,000 موظف يخدمون أكثر من 150 دولة في أقل من عقد من الزمان. يلبي نموذجنا الرقمي العملاء أينما كانوا: على الأجهزة المحمولة، الإنترنت، ووسائل التواصل الاجتماعي. لقد أصبحنا أحد أكثر تطبيقات التسوق شهرة ونستمر في جذب العملاء من خلال توفير تدفقات متعددة للمحتوى مباشرة داخل سستر ستور وتقديم أفضل تجربة تسوق عبر الإنترنت.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{% static 'images/about-01.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div dir="rtl" class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        مهمتنا
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        تتمثل مهمة سستر ستور في أن تكون رائدة في الصناعة وجلب الموضة إلى العصر الحديث. نستخدم أحدث التقنيات والعمليات في تصميمنا ومصادرنا للبقاء على اطلاع جيد بما هو مطلوب من قبل المستهلكين، وإنتاج المنتجات في الوقت المناسب وتقديم المنتجات بسرعة إلى أي مكان في العالم. من خلال تطوير الخدمات اللوجيستية وتكنولوجيا التجارة الإلكترونية، فإننا نقوم بتوزيع مساحة الموضة وتحسين النتائج للمصنعين والموردين والمستهلكين.
                    </p>

                    <div style="border-right: 3px solid #e6e6e6;" class="p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            المستهلكون لم يعودوا يتبعون معيار موحد لما يعتبر "عصري" أو "جميل". نعتقد أن الملابس التي نرتديها تعكس شخصيتنا ونريد تمكين الجميع من استكشاف فرديتهم والتعبير عنها. للقيام بذلك، تقدم شي إن مجموعة واسعة من الخيارات لتناسب أي حالة مزاجية أو مناسبة.
                        </p>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{% static 'images/about-02.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}