{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
    <h2 class="ltext-105 cl0 txt-center">
        من نحن
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div dir="rtl" class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        قصتنا
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        نعتقد أن جمال الموضة يجب أن يكون في متناول الجميع، وليس فقط للقلة المتميزة. عندما تأسست الشركة في سنة 2021، لاحظنا أنه يتعين على شركات الأزياء الاختيار بين عرض المنتجات أو تقليل ضغط المخزون والهدر. لذلك، شرعنا في تغيير ذلك من خلال قيادة تطوير العمليات والتقنيات البديلة لجلب الموضة إلى المستقبل.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{% static 'images/about-01.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div dir="rtl" class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        مهمتنا
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        لدنيا الرفاهيه في الملابس وخاصه للمرأة التي تستحقها. أناقتك وجمالك من أناقة المرأة حصريا أحلى وأرقى المودلات.
                    </p>

                    <div style="border-right: 3px solid #e6e6e6;" class="p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            لدينا جميع الأصناف والأنواع أسعار لا تقارن وليس لها منافس.
                        </p>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{% static 'images/about-02.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}