{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<style>
    .how-pos4 {
        position: absolute;
        top: calc(50% - 9px);
        right: 28px;
    }
</style>
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
    <h2 class="ltext-105 cl0 txt-center">
        اتصل بنا
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div dir="rtl" class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                
                <form method="POST">
                    {% csrf_token %}
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        أرسل لنا رسالة
                    </h4>

                    <div class="bor8 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-65" type="email" name="email" placeholder="البريد الالكتروني">
                        <img class="how-pos4 pointer-none" src="{% static 'images/icons/icon-email.png' %}" alt="ICON">
                    </div>
                    <span class="text-danger">{{form.errors.email}}</span>
                    <div class="bor8 m-t-30">
                        <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="description" placeholder="كيف يمكن أن نساعد؟"></textarea>
                    </div>
                    <span class="text-danger m-b-30">{{form.errors.description}}</span>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-t-30">
                        أرسل &nbsp;<i class="fa-solid fa-paper-plane"></i>
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <i class="fa-solid fa-location-dot"></i>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            العنوان
                        </span>

                        <p class="stext-115 cl6 size-213 p-t-18">
                            فلسطين , غزة
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <i class="fa-solid fa-phone"></i>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            اتصل بنا
                        </span>

                        <p dir="ltr" class="stext-115 cl1 size-213 p-t-18 text-right">
                            +972 0567554374
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full">
                    <span class="fs-18 cl5 txt-center size-211">
                        <i class="fa-solid fa-envelope"></i>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            الدعم الفني
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            sistersstore88@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	
{% endblock content %}