{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<style>
  hr{
    width: 100%;
  }
  
    @media (max-width: 575px){
      .my-respon{
        font-size: 30px;
      }
    }
</style>
<!-- Slider -->
<section dir="ltr" class="section-slide">
  <div class="wrap-slick1">
    <div class="slick1">
      <div class="item-slick1" style="background-image: url({% static 'images/slide-01.jpg' %})">
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
              <span class="ltext-101 cl2 respon2"> مجموعة جديدة 2022 </span>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">موسم جديد</h2>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
              <a href="#" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                تسوق الآن
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="item-slick1" style="background-image: url({% static 'images/slide-02.jpg' %})">
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
              <span class="ltext-101 cl2 respon2"> رجال موسم جديد </span>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                جاكيتات & معاطف
              </h2>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
              <a href="#" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                تسوق الآن
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="item-slick1" style="background-image: url({% static 'images/slide-03.jpg' %})">
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
              <span class="ltext-101 cl2 respon2"> مجموعة رجال 2022 </span>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">الوافدون الجدد</h2>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
              <a href="#" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                تسوق الآن
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img src="{% static 'images/banner-01.jpg' %}" alt="IMG-BANNER" />
          <a href="#" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8"> نساء </span>

              <span class="block1-info stext-102 trans-04"> ربيع 2022 </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">تسوق الآن</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER" />

          <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8"> رجال </span>

              <span class="block1-info stext-102 trans-04"> ربيع 2022 </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">تسوق الآن</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img src="{% static 'images/banner-03.jpg' %}" alt="IMG-BANNER" />

          <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">
                ملحقات
              </span>

              <span class="block1-info stext-102 trans-04"> ترند جديد </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">تسوق الآن</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product -->
<section dir="rtl" class="bg0 p-t-23 p-b-140">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5 my-respon">نظرة عامة على المنتجات</h3>
    </div>

    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
          جميع المنتجات
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
          نساء
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
          رجال
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
          حقائب
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
          أحذية
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
          ساعات
        </button>
      </div>
    </div>

    {% if not products %}
      <div class="text-center p-4 comment">
        <h5 class="mb-0">لا يوجد منتجات.</h5>
      </div>
    {% endif %}

    <!-- Product div -->
    <div dir="rtl" class="row isotope-grid">
      {% for product in products %}
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            {% if product.image %}
            <img height="300px" style="object-fit:cover" src="{{product.image.url}}" alt="IMG-PRODUCT" />
            {% endif %}

            <a href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal{{forloop.counter}}">
              عرض سريع
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l">
              <a href="{% url 'product_detail' product.pk %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                {{product.name}}
              </a>
              <span class="stext-105 cl3">
                {% if product.is_discount %}
                <strong><span class="text-success ml-2">₪{{product.is_discount}}</span> <del
                    class="text-danger">₪{{product.price}}</del></strong>
                {% else %}
                <strong>₪{{product.price}}</strong>
                {% endif %}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              {% if product.status %}
              {% if product.status == 'New' %}
              <span class="badge bg-primary ml-2">جديد</span>
              {% elif product.status == 'Sale' %}
              <span class="badge bg-success ml-2">تخفيض السعر</span>
              {% else %}
              <span class="badge bg-danger ml-2">انتهى</span>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% for product in products %}
<!-- Modal{{forloop.counter}} -->
<div class="wrap-modal1 js-modal{{forloop.counter}} p-t-60 p-b-20">
  <div class="overlay-modal1 js-hide-modal{{forloop.counter}}"></div>

  <div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
      <button class="how-pos3 hov3 trans-04 js-hide-modal{{forloop.counter}}">
        <img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE" />
      </button>

      <div class="row">
        <div class="col-md-6 col-lg-7 p-b-30">
          <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
              <div class="wrap-slick3-dots"></div>
              <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

              <div class="slick3 gallery-lb">
                {% for img in product.photos.all %}
                <div class="item-slick3" data-thumb="{{img.image.url}}">
                  <div class="wrap-pic-w pos-relative">
                    <img style="height: 100%; min-height: 500px; object-fit:cover;" style="object-fit:cover"
                      src="{{img.image.url}}" alt="IMG-PRODUCT" />

                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                      href="{{img.image.url}}">
                      <i class="fa fa-expand"></i>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div dir="rtl" class="col-md-6 col-lg-5 p-b-30">
          <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
              {{product.name}}
              {% if product.status %}
              {% if product.status == 'New' %}
              <span class="badge bg-primary mr-2">جديد</span>
              {% elif product.status == 'Sale' %}
              <span class="badge bg-success mr-2">تخفيض السعر</span>
              {% else %}
              <span class="badge bg-danger mr-2">انتهى</span>
              {% endif %}
              {% endif %}
            </h4>
            <span class="mtext-106 cl2">
              {% if product.is_discount %}
              <strong><span class="text-success ml-2">₪{{product.is_discount}}</span> <del
                  class="text-danger">₪{{product.price}}</del></strong>
              {% else %}
              <strong>₪{{product.price}}</strong>
              {% endif %}
            </span>

            <p class="stext-102 cl3 p-t-23 border-bottom pb-3">
              {{product.description|safe}}
            </p>
            <hr style="width: 100%;">
            
            <!-- Info -->
            <div class="my-info">
              <div class="flex-w flex-r-m p-b-10 p-t-33 mt-3">
                  <div class="size-203 flex-c-m respon6">الألوان:</div>

                  <div class="size-204 respon6-next">
                      {% for color in product.color.all %}
                      <span class="badge badge-pill badge-light">{{color}}</span>
                      {% endfor %}
                  </div>
              </div>
              
              <div class="flex-w flex-r-m p-b-10">
                  <div class="size-203 flex-c-m respon6">المقاسات:</div>

                  <div class="size-204 respon6-next">
                      {% for size in product.size.all %}
                      <span style="background-color: #a29bfe;" class="badge badge-pill">{{size}}</span>
                      {% endfor %}
                  </div>
              </div>

              <div class="flex-w flex-r-m p-b-33 mb-3">
                  <div class="size-203 flex-c-m respon6">الوسم:</div>
                  <div class="size-204 respon6-next">
                      {% for tag in product.tags.all %}
                      <span class="badge badge-pill badge-info">{{tag}}</span>
                      {% endfor %}
                  </div>
              </div>
              
              <div class="text-center mt-5">
                  <a href="{% url 'product_detail' product.pk %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-3">
                      انتقل الى التفاصيل 
                  </a>
              </div>
            </div>

            <!-- Icon -->
            <div class="mt-4 text-center pt-4">
              <a href="https://www.facebook.com/sisters.store88" target="_blank" class="fs-24 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100 text-center"
                data-tooltip="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/sistersstore88/" target="_blank" class="fs-24 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100 text-center"
                data-tooltip="Instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script>
  /* [ Show modal1 ] */
  {% for product in products %}
  $('.js-show-modal{{forloop.counter}}').on('click', function (e) {
    e.preventDefault();
    $('.js-modal{{forloop.counter}}').addClass('show-modal1');
  });

  $('.js-hide-modal{{forloop.counter}}').on('click', function () {
    $('.js-modal{{forloop.counter}}').removeClass('show-modal1');
  });
  {% endfor %}
</script>

{% endblock content %}