{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<style>
    .section-2 li{
        list-style-type: circle;
    }
</style>

<!-- Start Breadcrumb -->
<div dir="rtl" class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'index' %}" class="stext-109 cl8 hov-cl1 trans-04">
            الرئيسية
            <i class="fa fa-angle-left m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            سياستنا
        </span>
    </div>
</div>
<!-- End Breadcrumb -->

<section class="bg0 p-t-23 p-b-140">
    <div dir="rtl" class="container">
        <div class="p-b-10 mb-5">
            <h3 class="ltext-103 cl5">سياستنا</h3>
            <p class="mt-5">
                أهمية وجود سياسات وشروط خاصة بنا هي فقط من أجل توفير مناخ آمن وموثوق بين المتجر والعملاء ، وتنظيم عملية البيع والشراء والاستبدال والترجيع بطريقة واضحة وبسيطة وتوفير تسوق بحرية لكم. ونستقبل منكم جميع الاقتراحات والملاحظات على أدائنا وخدماتنا دائماً. والشروط القادمة في حال تم التعديل عليها سيتم إعلامكم بذلك.
            </p>
        </div>
        <hr style="width: 100%;">
        <div class="all-info mt-5">
            <div class="section-1">
                <h3 class="mb-5 cl5">عملية الشراء والطلب</h3>
                <p>
                    يستطيع الزبون التمتع بخدمات متجرنا سسترز ستور بسهوله وذلك من خلال إنشاء حساب في متجرنا ومن ثم تسجيل الدخول وتصفح المتجر بالكامل ويتم تقديم طلبك لنا بسهوله والدفع بالطريقة التي تناسبك.
                    <br>
                    يتم تأكيد الطلب عن طريق التواصل معكم على ارقامكم المرفقة في متجرنا (يستغرق 24 ساعة كحد أقصى من لحظة إنشائه).
                </p>
            </div>
            <div class="section-2 mt-5">
                <h3 class="mb-5 cl5"> عملية الدفع </h3>
                <p>
                    الدفع يكون من خلال تسليم ساعي البريد المبلغ المستحق بعد استلام الطلب <span class="text-danger">(ينطبق فقط في حال إختيار طريقة الدفع عند الإستلام).</span>   اضافة لرسوم التوصيل الرمزية حسب المنطقة: 
                </p>
                <ul class="p-3">
                    <li>
                        جميع المناطق: 6 شيكل
                    </li>
                    <li>
                        في حال الإنتظار: 8 شيكل
                    </li>
                </ul>
            </div>
            <div class="section-3 mt-5">
                <h3 class="mb-5 cl5">الإرجاع والاستبدال</h3>
                <p>
                    يحق للزبون إرجاع أو استبدال المنتج مع ساعي البريد في حال كانت المقاسات غير مناسبة في نفس لحظة استلام المنتج وفي حال مواجهة مشاكل بعد ذلك يتم التواصل معنا ، وفي حالة كان العميل يريد إرجاع المنتج يتحمل فقط رسوم التوصيل الرمزية الموضحة في النقطة في الأعلى.
                </p>
            </div>
            <div class="section-4 mt-5">
                <h3 class="mb-5 cl5">التوصيل</h3>
                <p>
                    مدة التوصيل هي يومين فقط بعد فترة تأكيد الطلب عن طريق التواصل معكم على ارقامكم المرفقة بالطلب (يستغرق الطلب 48 ساعة كحد اقصى من لحظة إنشائه).
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
