{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<!-- Start Breadcrumb -->
<div dir="rtl" class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'index' %}" class="stext-109 cl8 hov-cl1 trans-04">
            الرئيسية
            <i class="fa fa-angle-left m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            طرق الدفع
        </span>
    </div>
</div>
<!-- End Breadcrumb -->

<section class="bg0 p-t-23 p-b-140">
    <div dir="rtl" class="container">
        <div class="p-b-10 mb-5">
            <h3 class="ltext-103 cl5">طرق الدفع المتوفرة</h3>
        </div>
        <div class="all-info">
            <div class="section-1">
                <h3 class="mb-5 cl5">بطاقات الائتمان / بطاقات الاقتراض</h3>
                <p>
                    إن وسيلة الدفع المفضّلة لدينا في سسترز ستور هي الدفع الآمن باستخدام بطاقة الائتمان. نضمن لك حماية رقم بطاقة إئتمانك بفضل أحدث تقنيات التشفير الإلكتروني، ونضمن لك في سسترز ستور تجربة تسوق آمنة على موقعنا. نحن نقبل حالياً بطاقات الائتمان من نوع الفيزا كارد والماستر كارد.
                </p>
            </div>
            <div class="section-2 mt-5">
                <h3 class="mb-5 cl5">Paypal</h3>
                <p>
                  يسعدنا في سسترز ستور أن نوفر لزبائننا الكرام خدمة الباي بال كطريقة للدفع. كل ما عليك فعله هو اختيار باي بال كوسيلة للدفع (بعد ادخال معلوماتك الشخصية) و الضغط على “اشتري الآن”. سيتم بعد ذلك إعادة توجيهك الى حساب الباي بال الخاص بك، حيث ستجد عرضا لكافة البيانات المتعلقة بالشراء : معلومات بطاقتك الائتمانية أو بطاقة الخصم، تفاصيل عنوانك، المنتجات التي ترغب بشرائها. وفي حال الضغط على ” ادفع الآن ” سيتم إرسال المبلغ الى سسترز ستور.
                </p>
            </div>
            <div class="section-3 mt-5">
                <h3 class="mb-5 cl5">الدفع عند الإستلام</h3>
                <p>
                    يسعدنا في سسترز ستور أن نوفر لزبائننا الكرام خدمة الدفع عند الإستلام خدمة للدفع. كل ما عليك فعله هو اختيار الدفع عند الإستلام كوسيلة للدفع (بعد ادخال معلوماتك الشخصية) و الضغط على “اشتري الآن”.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
