{% load static %}
<div dir="rtl" class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>
  
    <div class="header-cart flex-col-l p-l-65 p-r-25">
      <div class="header-cart-title flex-w flex-sb-m p-b-8">
        <span class="mtext-103 cl2"> عربت التسوق </span>
  
        <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
          <i class="zmdi zmdi-close"></i>
        </div>
      </div>
  
      <div class="header-cart-content flex-w js-pscroll">
        <ul class="header-cart-wrapitem w-full">
          {% for item in items %}
          <li class="header-cart-item flex-w flex-t m-b-12">
            <div class="header-cart-item-img">
              <img src="{{item.product.image.url}}" alt="IMG" />
            </div>
  
            <div class="header-cart-item-txt p-t-8">
              <a href="{% url 'product_detail' item.product.id %}" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                {{item.product.name}}
              </a>
  
              <span dir="ltr" class="header-cart-item-info"> {{item.quantity}} x {% if item.product.is_discount %}₪{{item.product.is_discount}}{% else %}₪{{item.product.price}}{% endif %} </span>
            </div>
          </li>
          {% endfor %}
        </ul>
  
        <div class="w-full">
          <div class="header-cart-total w-full p-tb-40">المجموع: {{order.get_cart_total}}₪</div>
          <div class="header-cart-buttons flex-w w-full">
            <a class="btn btn-primary"  href="{% url 'cart' %}">عرض العربة</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  